/* src/components/Navbar.css */

/* Navbar stili */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    z-index: 1000;
    /* Navbar'ın her zaman üstte olmasını sağlar */
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #575757;
}

/* Popup Overlay */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.popup {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
}

.popup h2 {
    text-align: center;
}

.popup form {
    display: flex;
    flex-direction: column;
}

.popup label {
    margin: 10px 0;
}

.popup input,
.popup textarea {
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.popup button {
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.popup button:hover {
    background-color: #45a049;
}